@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700&family=Prompt:wght@300;700&display=swap');

:root {
    --primary-color:#007AF3
}
body{
    background: #F2F2F2;
    margin: 0;
    font-family: 'prompt';
}

.navbar {
    background: white;
    padding: 1rem;

    .logo {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.7rem;
        color: black;
        
        span.one {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        width: 2.5rem
        
    }

}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.left-col {
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: darkgray;
        letter-spacing: .25rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.3em;
        margin-top: 1.5rem;
    }

    .primary-cta {
        background:  var(--primary-color);
        color:white ;
        text-decoration: none;
        padding: .8rem 1.8rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 5rem;
        letter-spacing: .1rem;
        display: inline-block; 
    }

    .watch-video-cta {
        display: block;
        margin-top: 1rem;
        cursor: pointer;
        svg {
            width: 1.5rem;
        }
    }
}
.hero-img {
    width: 70%;
    margin-top: 3rem;
}

section.features-section {
    background: #20272E;
    color: white;
}

ul.features-list {
    margin: 0;
    padding-left: .1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        position: relative;
        &::before {
            content:'';
            left: -2rem;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("../6586148_accept_check_good_mark_ok_icon.svg");
            background-size: contain;
            margin-right: .5rem;
        
        }

    }

}

.feature-section-img {
    display: none;
}

.testimonilas-section {
    background: var(--primary-color);
    color: white;

    li {
        background-color: #006BD6;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5rem  auto;
        border-radius: 1rem;

        img {
            width: 5rem;
            height: 5rem;
            border: 5px solid #006BD6;
            border-radius: 50%;
            margin-top: -4.5rem;
            
        }
    }
}

h2{
    font-size: 2rem;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: .5rem;
}

input, textarea {
    width: 100%;
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 2px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: 5rem;
    border-radius: 5rem;
    display: inline-block;
    padding: .8rem .2rem;
    cursor: pointer;
    width: 10rem;
}

iframe {
    display: none;
    width: 70%;
    height: 300px;
}

nav.menu-btn {
   display: block;
}

 nav {
     position: fixed;
     z-index: 999;
     width: 66%;
     right: 0;
     top: 0;
     background: #20272E;
     height: 100vh;
     padding: 1rem;
     text-align: right;

    ul.primary-nav {
         margin-top: 5rem;
    }

    li {

        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            //display: block;
            padding: .3rem 1rem;
            //margin-top: 1rem;
            font-size: 1.5rem;
            text-align: right;
            

            &:hover {
                background-color: white;
                color: var(--primary-color);
                border-radius: 5rem;
            }
        }
    }

}

.mobile-menu-exit {
    
    display: inline-block;
    text-align: right;
    padding: 1.5rem;
    fill: white;
    //margin: .5rem;
    cursor: pointer;
    &:hover {
        padding: 1.5rem;
        background-color: white; 
        fill: var(--primary-color);
        border-radius: 1.7rem;

    }
}

@media only screen and (min-width:768px) {

    .mobile-menu , .mobile-menu-exit {
        display: none;
    }

    .navbar  .container {
        display: grid;
        grid-template-columns: 180px auto;
        align-items: center;
        justify-content: unset;
    }

    .navbar  nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a{
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-size: 1rem;
        }

        li.go-premium-cta a{
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            letter-spacing: .08rem;
            border-radius: 5rem;
            margin-top: -.2rem;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
}
@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            
            margin: 3rem 3rem 0 5rem;
            
            h1 {
                font-size: 3rem;
                width: 90%;
            }
        }

        

    }

    .hero-img {
        width: 60%;
        margin-right: 8rem;
    }

    .hero-cta {
        display: flex;
    }

    .primary-cta {
        margin-right: 1rem;
    }

    ul.features-list {
        display: block;
        margin-left: 5rem;

        li {
            font-size: 1.5rem;

            &:before {
                width: 30px;
                height: 30px;

            }
            
        }
        
    }

    .features-section {
        position: relative;
    }
    .feature-section-img {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 2rem;
        width: 450px;
        bottom: -4rem;
        border: 5px solid #006BD6;
        border-radius: 5rem;
    }

    .testimonilas-section ul {
       display: flex; 

       li{
           margin: 0 1rem; 
       }
    }

    .contact-section {
        position: relative;
    
        .container {
            display: flex;
        }
    }

    .contact-left {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 2rem;
        width: 35%;
        height: 100%;
    }

    .contact-right {
        position: absolute;
        right: 0;
        margin-left: 2rem;
        //top: 0;
        width: 45%;
        height: 100%;
        
    
        .iframe{
            height: 100%;
            border-radius: 5rem;
            border: 10px solid #006BD6;
        }
    
    }


}


@media only screen and (min-width: 1450px) {
    .features-section {

        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20rem;
            background: var(--primary-color);
            left: 0;
            top: -4rem;
        }

        &::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20rem;
            background: url(../dots.svg) no-repeat;
            left: 4.5rem;
            top: 2rem;

        }
    }
    
}








